html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

*, *:after, *:before {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 95px;
}

.none {
  display: none;
}

.main {
  padding: 2rem;
  text-align: center;
  padding-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 9;
  background-color: #ffffff;
  padding: 0.8rem 1rem;
}
.header .navegacion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1rem 0;
}
.header .navegacion .navegacion-menu {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
@media screen and (max-width: 667px) {
  .header .navegacion .navegacion-menu {
    position: fixed;
    max-width: 50%;
    height: 100vh;
    top: 0;
    left: -100%;
    padding: 2rem 1rem;
    background-color: #ffffff;
    color: #000000;
    z-index: 2;
    transition: 0.3s all ease;
  }
  .header .navegacion .navegacion-menu.is-active {
    left: 0;
  }
  .header .navegacion .navegacion-menu .navegacion-lista {
    margin-top: 1.5rem;
    padding: 2rem;
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  .header .navegacion .navegacion-menu .navegacion-lista li {
    margin-bottom: 1.5rem;
  }
  .header .navegacion .navegacion-menu .navegacion-lista li .navegacion-link {
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 3.5rem;
    transition: 0.3s all ease-out;
  }
  .header .navegacion .navegacion-menu .navegacion-lista li .navegacion-link:hover {
    color: #e1e1e1;
  }
}
@media (min-width: 1024px) {
  .header .navegacion .navegacion-menu .navegacion-lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
  .header .navegacion .navegacion-menu .navegacion-lista li .navegacion-link {
    font-size: 2rem;
    color: #000000;
    font-weight: 400;
    transition: 0.3s all ease;
  }
  .header .navegacion .navegacion-menu .navegacion-lista li .navegacion-link:hover {
    color: #e1e1e1;
  }
}
.header .navegacion .marca {
  cursor: pointer;
  font-size: 1.9rem;
  font-family: "Genos", sans-serif;
}
.header .navegacion .hamburger {
  display: flex;
  background-color: transparent;
}
@media (min-width: 1024px) {
  .header .navegacion .hamburger {
    display: none;
  }
}
.header .navegacion .botones-2 {
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  gap: 0.8rem;
}
.header .navegacion .botones-2 a {
  color: #000000;
  font-weight: 300;
}
.header .navegacion .botones-2 .btn-search {
  transition: 0.3s all ease-in-out;
}
.header .navegacion .botones-2 .btn-search:hover {
  color: #3918b3;
}

.ctn-bars-search {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #ffffff;
  padding: 15px;
  transition: all 600ms;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ctn-bars-search.is-active {
  top: 7.8rem;
  overflow-y: hidden;
}
@media (min-width: 1024px) {
  .ctn-bars-search.is-active {
    top: 7rem;
  }
}
.ctn-bars-search input {
  width: 100%;
  display: flex;
  padding: 0.5rem 0.7rem;
  margin: auto;
  outline: none;
  border: none;
  flex: 1;
  border-radius: 3px;
}
@media (min-width: 1024px) {
  .ctn-bars-search input {
    width: 50%;
  }
}
.ctn-bars-search input:focus {
  border: 2px solid #000000;
}

.filtrado {
  font-family: "Roboto", sans-serif;
}
.filtrado .filtros .campos-filtro {
  display: block;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.filtrado .filtros .campos-filtro .campo-filtro {
  display: block;
  margin-bottom: 1.6rem;
}
.filtrado .filtros .campos-filtro .campo-filtro label {
  text-align: start;
  font-size: 1.5rem;
}
.filtrado .filtros h2 {
  text-align: center;
  margin-bottom: 2rem;
}
.filtrado .contenedor-cards h2 {
  text-align: center;
  font-size: 2.3rem;
}
.filtrado .contenedor-cards #cards {
  display: grid;
  gap: 1fr;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 1024px) {
  .filtrado .filtros {
    display: block;
    margin-bottom: 3rem;
  }
  .filtrado .filtros h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .filtrado .filtros .campos-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  .filtrado .contenedor-cards h2 {
    text-align: start;
    font-size: 3.4rem;
  }
  .filtrado .contenedor-cards #cards {
    display: grid;
    gap: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
}

.template-card .card {
  position: relative;
}
.template-card .card img {
  width: 100%;
  height: 200px;
}
.template-card .card .body-card {
  padding: 0.8rem 2rem;
  text-align: center;
}

.info {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (min-width: 1024px) {
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.info .campo-info {
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.info .campo-info i {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}
.info .campo-info h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.footer {
  font-family: "Open Sans", sans-serif;
  color: #000000;
}
.footer .contenedor-footer {
  padding: 2rem 1rem;
  text-align: start;
}
@media (min-width: 1024px) {
  .footer .contenedor-footer {
    padding: 0.4rem 15rem;
    display: flex;
    justify-content: space-between;
  }
}
.footer .contenedor-footer .campo-footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
}
.footer .contenedor-footer .campo-footer .titulo-footer {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
.footer .contenedor-footer .campo-footer a {
  color: #000000;
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}
.footer .contenedor-footer .campo-footer img {
  width: 300px;
}
.footer .contenedor-footer .campo-footer .redes-footer {
  display: flex;
}
.footer .contenedor-footer .campo-footer .redes-footer i {
  font-size: 2rem;
  margin-right: 1.4rem;
}
.footer .contenedor-footer .campo-footer .redes-footer .fa-twitter,
.footer .contenedor-footer .campo-footer .redes-footer .fa-facebook,
.footer .contenedor-footer .campo-footer .redes-footer .fa-instagram {
  transition: 0.3s all ease-out;
}
.footer .contenedor-footer .campo-footer .redes-footer .fa-twitter:hover {
  color: #1793e6;
}
.footer .contenedor-footer .campo-footer .redes-footer .fa-facebook:hover {
  color: #3918b3;
}
.footer .contenedor-footer .campo-footer .redes-footer .fa-instagram:hover {
  color: #dd1fcd;
}

.btn-subir {
  position: fixed;
  background-color: transparent;
  bottom: 3rem;
  right: 2rem;
  cursor: pointer;
  transition: 0.4s all ease-out;
}
.btn-subir i {
  font-size: 2rem;
}

.main {
  font-family: "Source Sans Pro", sans-serif;
}
@media (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}
@media (min-width: 1024px) {
  .main h2 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }
}
.main .registrarse-form {
  padding: 1rem;
  align-items: center;
}
@media (min-width: 1024px) {
  .main .registrarse-form {
    border: 1.5px solid #e1e1e1;
    padding: 3rem;
    width: 50%;
    margin-bottom: 4rem;
  }
}
.main .registrarse-form .campo-form-registrarse {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
@media (min-width: 1024px) {
  .main .registrarse-form .campo-form-registrarse {
    flex-direction: row;
    text-align: center;
    display: flex;
    align-items: center;
  }
}
.main .registrarse-form .campo-form-registrarse label {
  text-align: start;
  margin-bottom: 0.7rem;
  font-size: 1.6rem;
}
@media (min-width: 1024px) {
  .main .registrarse-form .campo-form-registrarse label {
    text-align: center;
    margin-right: 3rem;
  }
}
.main .registrarse-form .campo-form-registrarse input {
  flex: 1;
  padding: 0.8rem 0.5rem;
  border: none;
  border: 1.5px solid #e1e1e1;
}
.main .registrarse-form .campo-form-registrarse input:focus {
  outline: none;
}
.main .registrarse-form .campo-form-registrarse .input-password {
  text-align: start;
  display: flex;
  flex: 1;
}
.main .registrarse-form .campo-form-registrarse .input-password input {
  flex: 1;
}
.main .registrarse-form .campo-form-registrarse .input-password button {
  cursor: pointer;
  background-color: #e1e1e12c;
  color: #ffffff;
  font-weight: 400;
  border: none;
  padding: 1rem;
}
.main .registrarse-form .checkbox {
  margin-top: 2rem;
  font-size: 1rem;
}
.main .registrarse-form .checkbox .checkbox1,
.main .registrarse-form .checkbox .checkbox2 {
  text-align: start;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
.main .registrarse-form .checkbox .checkbox1 input,
.main .registrarse-form .checkbox .checkbox2 input {
  margin-right: 1rem;
  cursor: pointer;
  border: none;
  border: 1px solid #e1e1e1;
}
.main .registrarse-form .btn-guardar {
  cursor: pointer;
  background-color: #3057ac;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  padding: 1rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s all ease-out;
}
.main .registrarse-form .btn-guardar:hover {
  background-color: #3918b3;
}

.registrarse-form-error {
  background-color: #ff2525;
  color: #ffffff;
  margin-top: -1rem;
  transition: all 800ms ease;
  height: 2.5rem;
}
.registrarse-form-error.is-active {
  display: block;
  animation: mostrar-error-registro 1s 1 normal 0s ease-out both;
}
.registrarse-form-error .none {
  display: none;
}

@keyframes mostrar-error-registro {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.main {
  font-family: "Source Sans Pro", sans-serif;
}
@media (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 4rem;
}
@media (min-width: 1024px) {
  .main h2 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }
}
.main .usuario-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .main .usuario-form {
    border: 1.5px solid #e1e1e1;
    padding: 3rem;
    width: 50%;
    margin-bottom: 4rem;
  }
}
.main .usuario-form .campo-form-usuario {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}
@media (min-width: 1024px) {
  .main .usuario-form .campo-form-usuario {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
}
.main .usuario-form .campo-form-usuario label {
  text-align: start;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
@media (min-width: 1024px) {
  .main .usuario-form .campo-form-usuario label {
    text-align: center;
    margin-right: 3rem;
  }
}
.main .usuario-form .campo-form-usuario input {
  border: none;
  border: 1px solid #e1e1e1;
  padding: 0.8rem 0.5rem;
  flex: 1;
}
.main .usuario-form .campo-form-usuario input:focus {
  outline: none;
}
.main .usuario-form .campo-form-usuario .input-password {
  text-align: start;
  display: flex;
  flex: 1;
}
.main .usuario-form .campo-form-usuario .input-password button {
  background-color: #e1e1e12c;
  color: #ffffff;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.main .usuario-form .olvido {
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
  color: #3057ac;
}
.main .usuario-form .olvido:hover {
  text-decoration: underline;
}
.main .usuario-form .btn-iniciar-sesion {
  border: none;
  cursor: pointer;
  background-color: #3057ac;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1rem 0;
  transition: 0.3s all ease-out;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 2.5rem;
  width: 50%;
}
.main .usuario-form .btn-iniciar-sesion:hover {
  background-color: #3918b3;
}
.main .usuario-form .no-cuenta {
  font-size: 1.4rem;
}
.main .usuario-form .no-cuenta:hover {
  text-decoration: underline;
}

.form-usuario-error {
  margin-top: -1rem;
  background-color: #ff2525;
  color: #ffffff;
  height: 2.5rem;
  transition: all 800ms ease;
}
.form-usuario-error.is-active {
  display: block;
  animation: mostrar-error-usuario 1s normal 1 0s ease-out both;
}
.form-usuario-error .none {
  display: none;
}

@keyframes mostrar-error-usuario {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
.main {
  font-family: "Source Sans Pro", sans-serif;
}
@media (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 4rem;
  margin-top: 2rem;
}
@media (min-width: 1024px) {
  .main h2 {
    font-size: 3.2rem;
    margin-bottom: 3rem;
  }
}
.main .form-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1024px) {
  .main .form-contacto {
    border: 1px solid #e1e1e1;
    padding: 3rem;
    width: 50%;
    margin-bottom: 4rem;
  }
}
.main .form-contacto .campo-form-contacto {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 100%;
}
@media (min-width: 1024px) {
  .main .form-contacto .campo-form-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
  }
}
.main .form-contacto .campo-form-contacto label {
  text-align: start;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .main .form-contacto .campo-form-contacto label {
    text-align: center;
    margin-right: 3rem;
  }
}
.main .form-contacto .campo-form-contacto input {
  border: none;
  border: 1px solid #e1e1e1;
  flex: 1;
  padding: 0.8rem 0.5rem;
}
.main .form-contacto .campo-form-contacto input:focus {
  outline: none;
}
.main .form-contacto .campo-form-contacto textarea {
  border: none;
  border: 1px solid #e1e1e1;
  flex: 1;
  padding: 0.8rem 0.5rem;
}
.main .form-contacto .campo-form-contacto textarea:focus {
  outline: none;
}
.main .form-contacto .loader-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  text-align: center;
  margin-bottom: 2rem;
  display: none;
}
.main .form-contacto .respuesta-form-contacto {
  text-align: center;
}
.main .form-contacto .btn-guardar {
  border: none;
  cursor: pointer;
  background-color: #3057ac;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1rem 0;
  transition: 0.3s all ease-out;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 2.5rem;
  width: 50%;
}
.main .form-contacto .btn-guardar:hover {
  background-color: #3918b3;
}

.form-contacto-error {
  background-color: #ff2525;
  color: #ffffff;
  margin-top: -1rem;
  height: 2.5rem;
  transition: 800ms all ease;
}
.form-contacto-error.is-active {
  display: block;
  animation: mostrar-error-contacto 1s normal 1 0s ease-out both;
}
.form-contacto-error .none {
  display: none;
}

@keyframes mostrar-error-contacto {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

/*# sourceMappingURL=app.css.map */
