@import "base/globales";
@import "base/mixins";
@import "base/variables";

@import "components/header";
@import "components/buscador";
@import "components/filtrado";
@import "components/info";
@import "components/footer";
@import "components/botonscroll";
@import "components/registrarsehtml";
@import "components/usuariohtml";