// BUSCADOR
.ctn-bars-search {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: $blanco;
    padding: 15px;
    transition: all 600ms;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    &.is-active {
        top: 7.8rem;
        overflow-y: hidden;

        @include desktop {
            top: 7rem;
        }
    }

    input {
        width: 100%;
        display: flex;
        padding: .5rem .7rem;
        margin: auto;
        outline: none;
        border: none;
        flex: 1;
        border-radius: 3px;

        @include desktop {
            width: 50%;
        }
        
        &:focus {
            outline: none;
            border: 1px solid #000;
        }
    }

    .borrar-value {

        position: absolute;
        cursor: pointer;
        right: 2rem;
        font-size: 1.5rem;
        font-weight: $delgada;
        top: 2rem;
        transition: .3s all ease-out;
        visibility: hidden;


        @include desktop {
            right: 40rem;
        }

        &.is-active {
            visibility: visible;
        }
        
    }
}

.overlay {
    position: fixed;
    background-color: rgba(0,0,0,.5); // para la transpaarencia cuando se muestra la imagen que seleccionamos
    width: 100%;
    height: 100%;
    top: 0;
    display: grid;
}

body {

    &.is-active {
        overflow: hidden;
    }
    
}