.filtrado {
    font-family: $fuente_segunda;


    // MODO CELULAR
    .filtros {
        .campos-filtro {
            display: block;
            justify-content: center;
            align-items: center;
            margin-bottom: 2rem;

            .campo-filtro {
                display: block;
                margin-bottom: 1.6rem;

                label {
                    text-align: start;
                    font-size: 1.5rem;
                }
            }
        }

        h2 {
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    .contenedor-cards {
        h2 {
            text-align: center;
            font-size: 2.3rem;
        }

        #cards {
            @include grid(1, 1fr);
        }

        .cards {
            // TEMPLATE DEL CARD
            .card {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 1rem;
                border: 1px solid #000;


                img {
                    cursor: pointer;
                    width: 100%;
                    height: auto;
                    border-bottom: 1px solid $gris;
                    transition: .4s all ease-out;
                }

                .body-card {
                    padding: .8rem 2rem;
                    text-align: center;
                    display: flex;
                    flex-direction: column;

                    .body-marca {
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }

                    .body-modelo {
                        font-size: 1.5rem;
                        margin-bottom: 1rem;
                    }

                    .body-precio {
                        font-size: 1.8rem;
                        margin-bottom: 1rem;
                    }

                    .btn-dark {
                        cursor: pointer;
                        background-color: $blanco;
                        padding: .4rem .8rem;
                        transition: .3s all ease-out;

                        &:hover {
                            background-color: $gris;
                        }
                    }
                }
            }
        }
    }

    // MODO ESCRITORIO
    @include desktop {
        .filtros {

            display: block;
            h2 {
                text-align: center;
                margin-bottom: 2rem;
            }

            .campos-filtro {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3rem;
            }

            margin-bottom: 3rem;

        }

        .contenedor-cards {
            @include desktop {
                h2 {
                    text-align: start;
                    font-size: 3.4rem;
                }

                #cards {
                    @include grid(3, 1fr)
                }
            }
        }
    }
}


