// VARIABLES PARA FUENTES
$fuente_principal: 'Open Sans', sans-serif;
$fuente_logo: 'Genos', sans-serif;
$fuente_segunda: 'Roboto', sans-serif;
$fuente_tercera: 'Source Sans Pro', sans-serif;

// TAMAÑO DE FUENTES
$delgada: 300;
$regular: 400;
$bold: 700;
$black: 900;

// TAMAÑO DE MEDIA QUERIES
$telefono: 660px;
$tablet: 870px;
$desktop: 1024px;

// COLORES
$negro: #000000;
$blanco: #ffffff;
$rojo: #ff2525;
$verde: #37ff25;
$gris: #e1e1e1;
$gris_oscuro: #e1e1e12c;
$azul: #3918b3;
$azulMarino: #3057ac;
$celeste: #1793e6;
$violeta: #dd1fcd;


